/*头部*/
.header .logo{
	background: url(../img/logo01.png);
	background-size: cover;
	height: 0.5rem;
	width: 4rem;
	padding-top: 0.3rem;
	float: left;
}
.header-right{
	width: 1.5rem;
	float: right;
	padding-right: 0.4rem;
	padding-top: 0.15rem;
}
/*.header-right-add{
	background: url(../img/icon_add.png);
	background-size: cover;
	width: 0.6rem;
	height: 0.6rem;
	float: left;
	
}*/
.header-right-message{
	background: url(../img/icon_message.png);
	background-size: cover;
	width: 0.6rem;
	height: 0.6rem;
	float: right;
}

.explore-content{
	padding-top: 1.3rem;
}
.explore-item{
	font-size: 0.35rem;
	padding: 0.3rem 0.25rem 0.2rem 0.25rem;
	border-bottom: solid 0.02rem #F0F0F0;
	height: 0.9rem;

}
.explore-item img{
	width: 0.7rem;
	height: 0.7rem;
	float: left;

}
.explore-item-title{
	line-height: 0.7rem;
	padding-left: 0.3rem;
}
.explore-item-next{
	background: url(../img/icon_next.png);
	background-size: cover;
	height: 0.8rem;
	width: 0.36rem;
	float: right;
}
