form{
	padding: 0.8rem 0.6rem;
}
input{
	height: 0.9rem;
	width: 6rem;
	font-size: 0.45rem;
	line-height: 0.9rem;
	border: none;
	border-bottom: solid 0.02rem #808080;
	padding: 0rem 0.2rem;
}
button{
	height: 0.9rem;
	width: 6rem;
	font-size: 0.45rem;
	color: white;
	line-height: 0.9rem;
	background:#069900;
	border-radius: 0.2rem;
}
.user-admin{
	padding: 0.2rem 0.2rem;
	color: #069900;
	font-size: 0.3rem;
}
.lost{
	margin-right: 0.4rem;
	float: right;
}
